
.DS_Store
build
.git
*.egg-info
dist
output/
data/*
!data/custom/images/train.jpg
!data/custom/labels/train.txt
!data/samples
!data/coco.names
!data/get_coco_dataset.sh
!data/get_pascal_voc_dataset.sh
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/

.vscode/
logs/

.python-version

python_modules/
coco/
labels.tar.gz
images.tar.gz
/checkpoints
io/*
!io/.gitkeep
